@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.store {
  padding: 1em;
  display: block;
}

#icon {
  padding: 1em;
  display: flex;
  position: relative;
  justify-content: right;
}

#icon >span{
  cursor: pointer;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.card {
  background-color: rgba(0,0,0,.04);
  width: 60%;
  height: 20em;
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
  border-radius: 0.7rem;
  box-shadow: 0 3px 7px 2px rgb(137, 137, 137);
  
}

.card >img {
  width: 11em;
  height: 11em;
}

.card-footer {
  color: #dc3545;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer >p, span {
  margin-left: 15px;
  margin-right: 15px;
}

.card-footer >span {
  border: 0.1rem solid;
  border-radius: 1rem;
  border-color: #dc3545;
  height: 45%;
  width: 35%;
  color: #dc3545;
  cursor: pointer;
}

.list-view {
  display: block;
}

.shop-item {
  display: flex;
  background-color: rgba(0,0,0,.04);
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.shop-item >img {
  width: 7%;
  height: 30%;
}

.shop-item >span {
  text-align: center;
  border: 0.1rem solid;
  border-radius: 1rem;
  border-color: #dc3545;
  height: 45%;
  width: 7%;
  color: #dc3545;
  cursor: pointer;
}